.accordion {
  inline-size: 100%;

  details {
    border-bottom-width: var(--border);

    &[open] summary::after {
      transform: rotate(180deg);
    }
  }

  summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: var(--font-medium);
    justify-content: space-between;
    padding-block: var(--size-4);

    &::after {
      background-image: var(--accordion-icon, url("chevron-down.svg"));
      background-size: cover;
      block-size: var(--accordion-icon-size, 1rem);
      content: "";
      inline-size: var(--accordion-icon-size, 1rem);
      transition: transform 200ms;
    }
  }
}
