.badge {
  background-color: var(--badge-background, var(--color-primary));
  border: 1px solid var(--badge-border-color, transparent);
  border-radius: var(--badge-border-radius, var(--rounded-full));
  padding: var(--badge-padding, 0.125rem 0.625rem);
  font-size: var(--badge-font-size, var(--text-xs));
  font-weight: var(--badge-font-weight, var(--font-semibold));
  color: var(--badge-color, var(--color-text-reversed));
}

.badge--secondary {
  --badge-background: var(--color-secondary);
  --badge-color: var(--color-text);
}

.badge--outline {
  --badge-background: transparent;
  --badge-border-color: var(--color-border);
  --badge-color: var(--color-text);
}

.badge--positive {
  --badge-background: var(--color-positive);
  --badge-color: white;
}

.badge--negative {
  --badge-background: var(--color-negative);
  --badge-color: white;
}
