:root {
  /****************************************************************
  * Border Width
  * Variables for controlling the width of an element's borders.
  * border-width: var(--border);
  *****************************************************************/
  --border:   1px;
  --border-2: 2px;
  --border-4: 4px;
  --border-8: 8px;

  /****************************************************************
  * Border Radius
  * Variables for controlling the border radius of an element.
  * border-radius: $rounded-none;
  *****************************************************************/
  --rounded-sm:   0.125rem;
  --rounded:      0.25rem;
  --rounded-md:   0.375rem;
  --rounded-lg:   0.5rem;
  --rounded-xl:   0.75rem;
  --rounded-2xl:  1rem;
  --rounded-3xl:  1.5rem;
  --rounded-full: 9999px;
}
