.btn {
  align-items: center;
  background-color: var(--btn-background, var(--color-primary));
  border-radius: var(--btn-border-radius, var(--rounded-lg));
  border: 1px solid var(--btn-border-color, transparent);
  box-shadow: var(--btn-shadow, var(--shadow-xs));
  color: var(--btn-color, white);
  column-gap: var(--btn-gap, var(--size-2));
  cursor: pointer;
  display: inline-flex;
  font-size: var(--btn-font-size, var(--text-sm));
  font-weight: var(--btn-font-weight, var(--font-semibold));
  justify-content: center;
  padding: var(--btn-padding, 0.5rem 0.75rem);
  text-align: center;

  &:disabled {
    opacity: var(--opacity-50);
    cursor: not-allowed;
  }
}

.btn--outline {
  --btn-background: transparent;
  --btn-border-color: var(--color-border);
  --btn-color: var(--color-text);
}

.btn--plain {
  --btn-background: transparent;
  --btn-border-color: transparent;
  --btn-color: var(--color-text);
  --btn-shadow: none;
}

.btn--positive {
  --btn-background: var(--color-positive);
}

.btn--negative {
  --btn-background: var(--color-negative);
}
