.btn {
  align-items: center;
  background-color: var(--btn-background, var(--color-primary));
  border-radius: var(--btn-border-radius, var(--rounded-md));
  border: var(--btn-border-size, 1px) solid var(--btn-border-color, transparent);
  color: var(--btn-color, var(--color-text-reversed));
  cursor: pointer;
  display: inline-flex;
  font-size: var(--btn-font-size, var(--text-sm));
  font-weight: var(--font-medium);
  gap: var(--size-2);
  justify-content: center;
  padding: var(--btn-padding, .5rem 1rem);
  position: relative;
  text-align: center;
  white-space: nowrap;

  img:not([class]) {
    filter: var(--btn-icon-color, var(--color-filter-text-reversed));
  }

  &:focus-visible {
    outline: 2px solid var(--color-selected);
    outline-offset: 2px;
  }

  &:disabled {
    opacity: var(--opacity-50);
    pointer-events: none;
  }
}

.btn--secondary {
  --btn-background: var(--color-secondary);
  --btn-color: var(--color-text);
  --btn-icon-color: var(--color-filter-text);
}

.btn--outline {
  --btn-background: transparent;
  --btn-border-color: var(--color-border);
  --btn-color: var(--color-text);
  --btn-icon-color: var(--color-filter-text);
}

.btn--plain {
  --btn-background: transparent;
  --btn-color: var(--color-text);
  --btn-icon-color: var(--color-filter-text);
}

.btn--positive {
  --btn-background: var(--color-positive);
  --btn-color: white;
}

.btn--negative {
  --btn-background: var(--color-negative);
  --btn-color: white;
}

[aria-busy] .btn--submitting:disabled {
  > * { visibility: hidden; }

  &::after {
    animation: var(--animate-spin);
    background-image: var(--btn-submitting-icon, url("loader-circle.svg"));
    background-size: cover;
    block-size: var(--btn-submitting-icon-size, var(--size-4));
    content: "";
    filter: var(--btn-icon-color, var(--color-filter-text-reversed));
    inline-size: var(--btn-submitting-icon-size, var(--size-4));
    margin-block: auto;
    position: absolute;
  }
}
