.dialog {
  background-color: var(--dialog-background, var(--color-bg));
  border: 1px solid var(--dialog-border-color, var(--color-border));
  border-radius: var(--dialog-border-radius, var(--rounded-2xl));
  box-shadow: var(--dialog-shadow, var(--shadow-lg));
  color: var(--dialog-color, var(--color-text));
  margin: auto;
  margin-block-start: var(--dialog-position, 20vh);
  max-inline-size: var(--dialog-size, var(--width-lg));
  padding: var(--dialog-padding, var(--size-8));

  &::backdrop {
    background-color: var(--dialog-backdrop-background, var(--zinc-950));
  }

  /* Setup transition */
  &, &::backdrop {
    opacity: 0; transition: all var(--time-150) allow-discrete;
  }

  /* Fade in */
  &[open] { opacity: 1 }
  &[open]::backdrop { opacity: var(--dialog-backdrop-opacity, var(--opacity-25)); }

  /* Fade out */
  @starting-style { &[open], &[open]::backdrop { opacity: 0; } }

  @media (width <= 40rem) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-block: auto 0;
    min-inline-size: var(--size-full);
  }
}
