.dialog {
  background-color: var(--dialog-background, var(--color-bg));
  border: 1px solid var(--dialog-border-color, var(--color-border));
  border-radius: var(--dialog-border-radius, var(--rounded-lg));
  box-shadow: var(--dialog-shadow, var(--shadow-lg));
  margin: auto; inline-size: 100%;
  max-inline-size: var(--dialog-size, var(--width-lg));
  padding: var(--dialog-padding, var(--size-6));

  &::backdrop {
    background-color: var(--dialog-backdrop-background, #000c);
  }

  /* Setup transition */
  &, &::backdrop {
    opacity: 0; transition: all var(--time-300) allow-discrete;
  }

  /* Fade in */
  &[open], &[open]::backdrop {
    opacity: 1
  }

  /* Fade out */
  @starting-style {
    &[open], &[open]::backdrop { opacity: 0; }
  }

  /* Responsiveness */
  @media (width <= 40rem) {
    border-radius: 0;
  }
}
