.input {
  appearance: none;
  background-color: var(--input-background, transparent);
  border-radius: var(--input-border-radius, var(--rounded-md));
  border: var(--input-border-size, 1px) solid var(--input-border-color, var(--color-border));
  box-shadow: var(--shadow-xs);
  color: var(--input-color, var(--color-text));
  font-size: var(--input-font-size, var(--text-sm));
  inline-size: 100%;
  padding: var(--input-padding, .5rem .75rem);
  resize: none;

  &:is(textarea) {
    field-sizing: content;
    min-block-size: var(--input-lines, 3lh);
    max-block-size: var(--input-max-lines, 11lh);
  }

  &:is(select):not([multiple]) {
    background-image: var(--select-icon, url("chevron-down.svg"));
    background-position: center right .75rem;
    background-repeat: no-repeat;
    background-size: var(--select-icon-size, 1rem) auto;
  }

  &::file-selector-button {
    font-weight: var(--font-medium);
    margin-inline-end: var(--size-2);
  }

  &::placeholder {
    color: var(--color-text-subtle);
  }

  &:user-invalid {
    border-color: var(--color-negative);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--opacity-50);
  }
}

.checkbox, .radio {
  accent-color: var(--check-accent-color, var(--color-primary));
  transform: scale(1.2);
}

.range {
  accent-color: var(--range-accent-color, var(--color-primary));
}

:where(.input, .checkbox, .radio, .range):focus-visible {
  outline: 2px solid var(--color-selected);
  outline-offset: 2px;
}
