/****************************************************************
* Separator
*****************************************************************/
.separator {
  border-block-start-width: var(--border-width, 1px);
  border-block-start-style: var(--border-style, solid);
  border-block-start-color: var(--border-color, var(--color-border));
  inline-size: 100%;
}

/****************************************************************
* Breadcrumb
*****************************************************************/
.breadcrumb {
  align-items: center;
  display: flex; flex-wrap: wrap;
  gap: var(--breadcrumb-gap, var(--size-2));
}

/****************************************************************
* Table
*****************************************************************/
.table {
  font-size: var(--table-font-size, var(--text-sm));
  inline-size: 100%;
  text-align: var(--table-text-align, left);

  thead th {
    color: var(--table-head-color, var(--color-text-subtle));
    font-weight: var(table-head-font-weight, var(--font-medium));
    padding: var(--table-head-padding, var(--size-2) var(--size-4));
  }

  td, th {
    border-bottom: 1px solid var(--table-border-color, var(--color-border));
    padding: var(--table-padding, var(--size-4));
  }
}
