/****************************************************************
* Alert
*****************************************************************/
.alert {
  border: var(--alert-border-size, 1px) solid var(--alert-border-color, var(--color-border));
  border-radius: var(--alert-border-radius, var(--rounded-lg));
  color: var(--alert-color, var(--color-text));
  padding: var(--alert-padding, 1rem);
  inline-size: 100%;

  img:not([class]) {
    filter: var(--alert-icon-color, var(--color-filter-text-reversed));
  }
}

.alert--negative {
  --alert-border-color: var(--color-negative);
  --alert-color: var(--color-negative);
  --alert-icon-color: var(--color-filter-negative);
}

/****************************************************************
* Badge
*****************************************************************/
.badge {
  background-color: var(--badge-background, var(--color-primary));
  border: var(--badge-border-size, 1px) solid var(--badge-border-color, transparent);
  border-radius: var(--badge-border-radius, var(--rounded-full));
  color: var(--badge-color, var(--color-text-reversed));
  font-size: var(--badge-font-size, var(--text-xs));
  font-weight: var(--badge-font-weight, var(--font-semibold));
  padding: var(--badge-padding, 0.125rem 0.625rem);
}

.badge--secondary {
  --badge-background: var(--color-secondary);
  --badge-color: var(--color-text);
}

.badge--outline {
  --badge-background: transparent;
  --badge-border-color: var(--color-border);
  --badge-color: var(--color-text);
}

.badge--negative {
  --badge-background: var(--color-positive);
  --badge-color: white;
}

/****************************************************************
* Card
*****************************************************************/
.card {
  border-radius: var(--card-border-radius, var(--rounded-lg));
  border-width: var(--border);
  padding: var(--card-padding, var(--size-6));
  shadow: var(--shadow-sm);
}

/****************************************************************
* Progress
*****************************************************************/
.progress {
  background-color: var(--progress-background, var(--color-secondary));
  border-radius: var(--progress-radius, var(--rounded-full));
  block-size: var(--progress-height, 1rem);
  inline-size: 100%;
  overflow: hidden;
}

.progress::-moz-progress-bar {
  background-color: var(--progress-color, var(--color-primary));
}

.progress::-webkit-progress-value {
  background-color: var(--progress-color, var(--color-primary));
}

.progress::-webkit-progress-bar {
  background-color: var(--progress-color, var(--color-secondary));
}

/****************************************************************
* Separator
*****************************************************************/
.separator {
  border-block-start-width: var(--border-width, 1px);
  border-block-start-style: var(--border-style, solid);
  border-block-start-color: var(--border-color, var(--color-border));
  inline-size: 100%;
}

/****************************************************************
* Table
*****************************************************************/
.table {
  font-size: var(--table-font-size, var(--text-sm));
  inline-size: 100%;

  thead {
    color: var(--color-text-subtle);
  }

  tbody tr {
    border-top: 1px solid var(--color-border);
  }

  th {
    font-weight: var(--font-medium);
    text-align: left;
  }

  th, td {
    padding: var(--table-padding, 1rem);
  }

  tfoot {
    background-color: var(--color-secondary);
    border-top: 1px solid var(--color-border);
    font-weight: var(--font-medium);
  }
}
