/****************************************************************
* Separator
*****************************************************************/
.separator {
  border-block-start-width: var(--border-width, 1px);
  border-block-start-style: var(--border-style, solid);
  border-block-start-color: var(--border-color, var(--color-border));
  inline-size: 100%;
}

/****************************************************************
* Progress
*****************************************************************/
.progress {
  background-color: var(--progress-background, var(--color-secondary));
  border-radius: var(--progress-radius, var(--rounded-md));
  block-size: var(--progress-height, var(--size-4));
  inline-size: 100%;
  overflow: hidden;
}

.progress::-moz-progress-bar {
  background-color: var(--progress-color, var(--color-primary));
}

.progress::-webkit-progress-value {
  background-color: var(--progress-color, var(--color-primary));
}

.progress::-webkit-progress-bar {
  background-color: var(--progress-color, var(--color-secondary));
}

/****************************************************************
* Table
*****************************************************************/
.table {
  font-size: var(--table-font-size, var(--text-sm));
  inline-size: 100%;
  text-align: var(--table-text-align, left);

  thead th {
    color: var(--table-head-color, var(--color-text-subtle));
    font-weight: var(table-head-font-weight, var(--font-medium));
  }

  td, th {
    border-bottom: 1px solid var(--table-border-color, var(--color-border));
    padding: var(--table-padding, var(--size-4));
  }
}
