.separator {
  border-block-start: 1px var(--separator-style, solid) var(--separator-color, var(--color-border));
  inline-size: var(--size-full);
}

.separator--light {
  --separator-color: var(--color-border-light);
}
