.switch {
  appearance: none;
  background-color: var(--switch-color, var(--color-border));
  border: 2px solid transparent;
  border-radius: var(--switch-border-radius, var(--rounded-full));
  block-size: var(--switch-height, var(--size-6));
  cursor: pointer;
  inline-size: var(--switch-width, var(--size-11));

  &:checked {
    background-color: var(--switch-checked-color, var(--color-primary));
  }

  &:checked::before {
    transform: translateX(100%);
  }

  &::before {
    aspect-ratio: 1;
    background-color: var(--switch-toggle-color, var(--color-text-reversed));
    border-radius: var(--switch-border-radius, var(--rounded-full));
    content: "";
    display: block;
    block-size: 100%;
    transition: transform 150ms ease;
  }

  &:focus {
    outline: 2px solid var(--color-selected);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--opacity-50);
  }
}
