.switch {
  --height: var(--switch-height, var(--size-6));
  --width:  var(--switch-width, var(--size-11));
  --border-radius: var(--switch-border-radius, var(--rounded-full));

  appearance: none;
  background-color: var(--switch-color, var(--color-border));
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  block-size: var(--height);
  cursor: pointer;
  inline-size: var(--width);

  &:checked {
    background-color: var(--switch-checked-color, var(--color-primary));
  }

  &:checked::before {
    margin-inline-start: calc(var(--width) - var(--height));
  }

  &::before {
    aspect-ratio: 1;
    background-color: var(--switch-toggle-color, var(--color-text-reversed));
    block-size: 100%;
    border-radius: var(--border-radius);
    content: "";
    display: block;
    transition: margin 150ms ease;
  }

  &:focus-visible {
    outline: 2px solid var(--color-selected);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--opacity-50);
  }
}
