:root {
  /****************************************************************
  * Font Size
  * Variables for controlling the font size of an element.
  * font-size: var(--text-xs);
  *****************************************************************/
  --text-xs:   0.75rem;
  --text-sm:   0.875rem;
  --text-base: 1rem;
  --text-lg:   1.125rem;
  --text-xl:   1.25rem;
  --text-2xl:  1.5rem;
  --text-3xl:  1.875rem;
  --text-4xl:  2.25rem;
  --text-5xl:  3rem;
  --text-6xl:  3.75rem;
  --text-7xl:  4.5rem;
  --text-8xl:  6rem;
  --text-9xl:  8rem;

  /****************************************************************
  * Font Weight
  * Variables for controlling the font weight of an element.
  * font-weight: var(--font-hairline);
  *****************************************************************/
  --font-thin:       100;
  --font-extralight: 200;
  --font-light:      300;
  --font-normal:     400;
  --font-medium:     500;
  --font-semibold:   600;
  --font-bold:       700;
  --font-extrabold:  800;
  --font-black:      900;

  /****************************************************************
  * Line Height
  * Variables for controlling the leading (line height) of an element.
  * line-height: var(--leading-tight);
  *****************************************************************/
  --leading-none:    1;
  --leading-tight:   1.25;
  --leading-snug:    1.375;
  --leading-normal:  1.4;
  --leading-relaxed: 1.625;
  --leading-loose:   2;
  --leading-3:       .75rem;
  --leading-4:       1rem;
  --leading-5:       1.25rem;
  --leading-6:       1.5rem;
  --leading-7:       1.75rem;
  --leading-8:       2rem;
  --leading-9:       2.25rem;
  --leading-10:      2.5rem;

  /****************************************************************
  * Font Family
  * Variables for controlling the font family of an element.
  * font-family: var(--font-sans);
  *****************************************************************/
  --font-sans:  ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:  ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /****************************************************************
  * Letter Spacing
  * Variables for controlling the tracking (letter spacing) of an element.
  * letter-spacing: var(--tracking-tighter);
  *****************************************************************/
  --tracking-tighter: -0.05em;
  --tracking-tight:   -0.025em;
  --tracking-normal:  0em;
  --tracking-wide:    0.025em;
  --tracking-wider:   0.05em;
  --tracking-widest:  0.1em;
}
