/****************************************************************
* Flex and Grid
*****************************************************************/
.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.inline-flex { display: inline-flex; }

.justify-start { justify-content: start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: end; }
.justify-between { justify-content: space-between; }

.items-start { align-items: start; }
.items-end { align-items: end; }
.items-center { align-items: center; }

.grow { flex-grow: 1; }
.shrink-0 { flex-shrink: 0; }

.self-start { align-self: start; }
.self-end { align-self: end; }
.self-center { align-self: center; }

.gap { column-gap: var(--column-gap, 1rem); row-gap: var(--row-gap, 1rem); }
.gap-half { column-gap: 0.5rem); row-gap: 0.5rem); }

/****************************************************************
* Text
*****************************************************************/
.font-normal { font-weight: var(--font-normal); }
.font-medium { font-weight: var(--font-medium); }
.font-semibold { font-weight: var(--font-semibold); }
.font-bold { font-weight: var(--font-bold); }

.underline { text-decoration-line: underline; }
.no-underline	{ text-decoration-line: none; }

.uppercase { text-transform: uppercase; }
.normal-case { text-transform: none; }

.whitespace-nowrap { white-space: nowrap; }
.whitespace-normal { white-space: normal; }

.break-words { word-break: break-word; }
.break-all { word-break: break-all; }

.truncate { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.text-clip { text-overflow: clip; }

.opacity-75 { opacity: var(--opacity-75); }
.opacity-50 { opacity: var(--opacity-50); }

.leading-tight { line-height: var(--leading-tight); }
.leading-normal { line-height: var(--leading-normal); }

.text-start { text-align: start; }
.text-end { text-align: end; }
.text-center { text-align: center; }

.text-primary { color: var(--color-text); }
.text-reversed { color: var(--color-text-reversed); }
.text-subtle { color: var(--color-text-subtle); }

.text-xs { font-size: var(--text-xs); }
.text-sm { font-size: var(--text-sm); }
.text-base { font-size: var(--text-base); }
.text-lg { font-size: var(--text-lg); }
.text-xl { font-size: var(--text-xl); }
.text-2xl { font-size: var(--text-2xl); }
.text-3xl { font-size: var(--text-3xl); }
.text-4xl { font-size: var(--text-4xl); }
.text-5xl { font-size: var(--text-5xl); }
.text-6xl { font-size: var(--text-6xl); }
.text-7xl { font-size: var(--text-7xl); }
.text-8xl { font-size: var(--text-8xl); }
.text-9xl { font-size: var(--text-9xl); }

/****************************************************************
* Background
*****************************************************************/
.bg-main { background-color: var(--color-bg); }
.bg-black { background-color: var(--color-text); }
.bg-white { background-color: var(--color-text-reversed); }
.bg-shade { background-color: var(--color-border); }
.bg-transparent { background-color: transparent; }

.invert { filter: var(--invert); }
.colorize-black { filter: var(--color-filter-black); }
.colorize-white { filter: var(--color-filter-white); }

/****************************************************************
* Border
*****************************************************************/
.border-0 { border: 0; }
.border { border: var(--border-size, 1px) solid var(--border-color, var(--color-border)); }
.border-t { border-top: var(--border-size, 1px) solid var(--border-color, var(--color-border)); }
.border-b { border-bottom: var(--border-size, 1px) solid var(--border-color, var(--color-border)); }
.border-l { border-left: var(--border-size, 1px) solid var(--border-color, var(--color-border)); }
.border-r { border-right: var(--border-size, 1px) solid var(--border-color, var(--color-border)); }

.rounded-none { border-radius: none; }
.rounded-sm { border-radius: var(--rounded-sm); }
.rounded { border-radius: var(--rounded); }
.rounded-md { border-radius: var(--rounded-md); }
.rounded-lg { border-radius: var(--rounded-lg); }
.rounded-xl { border-radius: var(--rounded-xl); }
.rounded-2xl { border-radius: var(--rounded-2xl); }
.rounded-3xl { border-radius: var(--rounded-3xl); }
.rounded-full { border-radius: var(--rounded-full); }

/****************************************************************
* Shadow
*****************************************************************/
.shadow-none { box-shadow: none; }
.shadow-xs { box-shadow: var(--shadow-xs); }
.shadow-sm { box-shadow: var(--shadow-sm); }
.shadow { box-shadow: var(--shadow); }
.shadow-md { box-shadow: var(--shadow-md); }
.shadow-lg { box-shadow: var(--shadow-lg); }
.shadow-xl { box-shadow: var(--shadow-xl); }
.shadow-2xl { box-shadow: var(--shadow-2xl); }

/****************************************************************
* Layout
*****************************************************************/
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.relative { position: relative; }
.sticky	{ position: sticky; }

.min-w-0 { min-inline-size: 0; }
.max-w-full { max-inline-size: 100%; }

.h-full { block-size: 100%; }
.w-full { inline-size: 100%; }

.overflow-x-auto { overflow-x: auto; scroll-snap-type: x mandatory; scroll-behavior: smooth; }
.overflow-y-auto { overflow-y: auto; scroll-snap-type: y mandatory; scroll-behavior: smooth; }
.overflow-hidden { overflow: hidden; }

.sr-only {
  position: absolute;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/****************************************************************
* Margin
*****************************************************************/
.m-0 { margin: 0; }
.m-0\.5 { margin: var(--size-0_5); }
.m-1 { margin: var(--size-1); }
.m-2 { margin: var(--size-2); }
.m-4 { margin: var(--size-4); }
.m-6 { margin: var(--size-6); }
.m-8 { margin: var(--size-8); }
.m-10 { margin: var(--size-10); }
.m-auto { margin: auto; }

.mb-0 { margin-block: 0; }
.mb-0\.5 { margin-block: var(--size-0_5); }
.mb-1 { margin-block: var(--size-1); }
.mb-2 { margin-block: var(--size-2); }
.mb-4 { margin-block: var(--size-4); }
.mb-6 { margin-block: var(--size-6); }
.mb-8 { margin-block: var(--size-8); }
.mb-10 { margin-block: var(--size-10); }
.mb-auto { margin-block: auto; }

.mbs-0 { margin-block-start: 0; }
.mbs-0\.5 { margin-block-start: var(--size-0_5); }
.mbs-1 { margin-block-start: var(--size-1); }
.mbs-2 { margin-block-start: var(--size-2); }
.mbs-4 { margin-block-start: var(--size-4); }
.mbs-6 { margin-block-start: var(--size-6); }
.mbs-8 { margin-block-start: var(--size-8); }
.mbs-10 { margin-block-start: var(--size-10); }
.mbs-auto { margin-block-start: auto; }

.mbe-0 { margin-block-end: 0; }
.mbe-0\.5 { margin-block-end: var(--size-0_5); }
.mbe-1 { margin-block-end: var(--size-1); }
.mbe-2 { margin-block-end: var(--size-2); }
.mbe-4 { margin-block-end: var(--size-4); }
.mbe-6 { margin-block-end: var(--size-6); }
.mbe-8 { margin-block-end: var(--size-8); }
.mbe-10 { margin-block-end: var(--size-10); }
.mbe-auto { margin-block-end: auto; }

.mi-0 { margin-inline: 0; }
.mi-0\.5 { margin-inline: var(--size-0_5); }
.mi-1 { margin-inline: var(--size-1); }
.mi-2 { margin-inline: var(--size-2); }
.mi-4 { margin-inline: var(--size-4); }
.mi-6 { margin-inline: var(--size-6); }
.mi-8 { margin-inline: var(--size-8); }
.mi-10 { margin-inline: var(--size-10); }
.mi-auto { margin-inline: auto; }

.mis-0 { margin-inline-start: 0; }
.mis-0\.5 { margin-inline-start: var(--size-0_5); }
.mis-1 { margin-inline-start: var(--size-1); }
.mis-2 { margin-inline-start: var(--size-2); }
.mis-4 { margin-inline-start: var(--size-4); }
.mis-6 { margin-inline-start: var(--size-6); }
.mis-8 { margin-inline-start: var(--size-8); }
.mis-10 { margin-inline-start: var(--size-10); }
.mis-auto { margin-inline-start: auto; }

.mie-0 { margin-inline-end: 0; }
.mie-0\.5 { margin-inline-end: var(--size-0_5); }
.mie-1 { margin-inline-end: var(--size-1); }
.mie-2 { margin-inline-end: var(--size-2); }
.mie-4 { margin-inline-end: var(--size-4); }
.mie-6 { margin-inline-end: var(--size-6); }
.mie-8 { margin-inline-end: var(--size-8); }
.mie-10 { margin-inline-end: var(--size-10); }
.mie-auto { margin-inline-end: auto; }

/****************************************************************
* Padding
*****************************************************************/
.p-0 { padding: 0; }
.p-0\.5 { padding: var(--size-0_5); }
.p-1 { padding: var(--size-1); }
.p-2 { padding: var(--size-2); }
.p-4 { padding: var(--size-4); }
.p-6 { padding: var(--size-6); }
.p-8 { padding: var(--size-8); }
.p-10 { padding: var(--size-10); }

.pb-0 { padding-block: 0; }
.pb-0\.5 { padding-block: var(--size-0_5); }
.pb-1 { padding-block: var(--size-1); }
.pb-2 { padding-block: var(--size-2); }
.pb-4 { padding-block: var(--size-4); }
.pb-6 { padding-block: var(--size-6); }
.pb-8 { padding-block: var(--size-8); }
.pb-10 { padding-block: var(--size-10); }

.pbs-0 { padding-block-start: 0; }
.pbs-0\.5 { padding-block-start: var(--size-0_5); }
.pbs-1 { padding-block-start: var(--size-1); }
.pbs-2 { padding-block-start: var(--size-2); }
.pbs-4 { padding-block-start: var(--size-4); }
.pbs-6 { padding-block-start: var(--size-6); }
.pbs-8 { padding-block-start: var(--size-8); }
.pbs-10 { padding-block-start: var(--size-10); }

.pbe-0 { padding-block-end: 0; }
.pbe-0\.5 { padding-block-end: var(--size-0_5); }
.pbe-1 { padding-block-end: var(--size-1); }
.pbe-2 { padding-block-end: var(--size-2); }
.pbe-4 { padding-block-end: var(--size-4); }
.pbe-6 { padding-block-end: var(--size-6); }
.pbe-8 { padding-block-end: var(--size-8); }
.pbe-10 { padding-block-end: var(--size-10); }

.pi-0 { padding-inline: 0; }
.pi-0\.5 { padding-inline: var(--size-0_5); }
.pi-1 { padding-inline: var(--size-1); }
.pi-2 { padding-inline: var(--size-2); }
.pi-4 { padding-inline: var(--size-4); }
.pi-6 { padding-inline: var(--size-6); }
.pi-8 { padding-inline: var(--size-8); }
.pi-10 { padding-inline: var(--size-10); }

.pis-0 { padding-inline-start: 0; }
.pis-0\.5 { padding-inline-start: var(--size-0_5); }
.pis-1 { padding-inline-start: var(--size-1); }
.pis-2 { padding-inline-start: var(--size-2); }
.pis-4 { padding-inline-start: var(--size-4); }
.pis-6 { padding-inline-start: var(--size-6); }
.pis-8 { padding-inline-start: var(--size-8); }
.pis-10 { padding-inline-start: var(--size-10); }

.pie-0 { padding-inline-end: 0; }
.pie-0\.5 { padding-inline-end: var(--size-0_5); }
.pie-1 { padding-inline-end: var(--size-1); }
.pie-2 { padding-inline-end: var(--size-2); }
.pie-4 { padding-inline-end: var(--size-4); }
.pie-6 { padding-inline-end: var(--size-6); }
.pie-8 { padding-inline-end: var(--size-8); }
.pie-10 { padding-inline-end: var(--size-10); }
