:root {
  --colorize-slate-50: invert(98%) sepia(3%) saturate(435%) hue-rotate(184deg) brightness(100%) contrast(96%);
  --colorize-slate-100: invert(97%) sepia(7%) saturate(230%) hue-rotate(184deg) brightness(99%) contrast(90%);
  --colorize-slate-200: invert(92%) sepia(8%) saturate(155%) hue-rotate(189deg) brightness(99%) contrast(92%);
  --colorize-slate-300: invert(85%) sepia(9%) saturate(217%) hue-rotate(195deg) brightness(100%) contrast(92%);
  --colorize-slate-400: invert(70%) sepia(14%) saturate(327%) hue-rotate(191deg) brightness(94%) contrast(93%);
  --colorize-slate-500: invert(55%) sepia(10%) saturate(533%) hue-rotate(192deg) brightness(90%) contrast(88%);
  --colorize-slate-600: invert(44%) sepia(12%) saturate(468%) hue-rotate(191deg) brightness(92%) contrast(89%);
  --colorize-slate-700: invert(36%) sepia(13%) saturate(427%) hue-rotate(187deg) brightness(93%) contrast(92%);
  --colorize-slate-800: invert(26%) sepia(18%) saturate(445%) hue-rotate(188deg) brightness(97%) contrast(92%);
  --colorize-slate-900: invert(20%) sepia(14%) saturate(434%) hue-rotate(192deg) brightness(98%) contrast(92%);
  --colorize-slate-950: invert(10%) sepia(9%) saturate(532%) hue-rotate(188deg) brightness(90%) contrast(95%);

  --colorize-gray-50: invert(99%) sepia(2%) saturate(223%) hue-rotate(184deg) brightness(99%) contrast(99%);
  --colorize-gray-100: invert(98%) sepia(2%) saturate(285%) hue-rotate(207deg) brightness(98%) contrast(94%);
  --colorize-gray-200: invert(92%) sepia(4%) saturate(200%) hue-rotate(213deg) brightness(99%) contrast(95%);
  --colorize-gray-300: invert(87%) sepia(4%) saturate(146%) hue-rotate(189deg) brightness(99%) contrast(96%);
  --colorize-gray-400: invert(70%) sepia(7%) saturate(175%) hue-rotate(192deg) brightness(93%) contrast(92%);
  --colorize-gray-500: invert(54%) sepia(7%) saturate(167%) hue-rotate(192deg) brightness(93%) contrast(87%);
  --colorize-gray-600: invert(44%) sepia(7%) saturate(352%) hue-rotate(182deg) brightness(96%) contrast(86%);
  --colorize-gray-700: invert(36%) sepia(6%) saturate(435%) hue-rotate(182deg) brightness(93%) contrast(91%);
  --colorize-gray-800: invert(26%) sepia(12%) saturate(298%) hue-rotate(185deg) brightness(93%) contrast(85%);
  --colorize-gray-900: invert(19%) sepia(9%) saturate(368%) hue-rotate(186deg) brightness(95%) contrast(91%);
  --colorize-gray-950: invert(11%) sepia(8%) saturate(258%) hue-rotate(182deg) brightness(95%) contrast(92%);

  --colorize-zinc-50: invert(100%) sepia(0%) saturate(0%) hue-rotate(167deg) brightness(100%) contrast(102%);
  --colorize-zinc-100: invert(96%) sepia(2%) saturate(260%) hue-rotate(202deg) brightness(97%) contrast(94%);
  --colorize-zinc-200: invert(91%) sepia(5%) saturate(62%) hue-rotate(194deg) brightness(96%) contrast(95%);
  --colorize-zinc-300: invert(86%) sepia(4%) saturate(80%) hue-rotate(196deg) brightness(95%) contrast(92%);
  --colorize-zinc-400: invert(70%) sepia(5%) saturate(121%) hue-rotate(196deg) brightness(91%) contrast(90%);
  --colorize-zinc-500: invert(56%) sepia(8%) saturate(108%) hue-rotate(195deg) brightness(89%) contrast(88%);
  --colorize-zinc-600: invert(42%) sepia(9%) saturate(144%) hue-rotate(196deg) brightness(94%) contrast(91%);
  --colorize-zinc-700: invert(35%) sepia(8%) saturate(174%) hue-rotate(196deg) brightness(92%) contrast(87%);
  --colorize-zinc-800: invert(26%) sepia(11%) saturate(120%) hue-rotate(196deg) brightness(95%) contrast(90%);
  --colorize-zinc-900: invert(19%) sepia(10%) saturate(112%) hue-rotate(197deg) brightness(95%) contrast(94%);
  --colorize-zinc-950: invert(11%) sepia(12%) saturate(161%) hue-rotate(197deg) brightness(90%) contrast(90%);

  --colorize-neutral-50: invert(100%) sepia(0%) saturate(0%) hue-rotate(167deg) brightness(100%) contrast(102%);
  --colorize-neutral-100: invert(96%) sepia(0%) saturate(13%) hue-rotate(196deg) brightness(106%) contrast(105%);
  --colorize-neutral-200: invert(92%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(100%) contrast(94%);
  --colorize-neutral-300: invert(86%) sepia(0%) saturate(35%) hue-rotate(196deg) brightness(100%) contrast(92%);
  --colorize-neutral-400: invert(70%) sepia(0%) saturate(0%) hue-rotate(191deg) brightness(93%) contrast(86%);
  --colorize-neutral-500: invert(54%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(90%) contrast(91%);
  --colorize-neutral-600: invert(42%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(90%) contrast(85%);
  --colorize-neutral-700: invert(35%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(90%) contrast(85%);
  --colorize-neutral-800: invert(24%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(94%) contrast(87%);
  --colorize-neutral-900: invert(17%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(93%) contrast(92%);
  --colorize-neutral-950: invert(11%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(90%) contrast(90%);

  --colorize-stone-50: invert(98%) sepia(3%) saturate(1045%) hue-rotate(314deg) brightness(102%) contrast(100%);
  --colorize-stone-100: invert(96%) sepia(5%) saturate(217%) hue-rotate(314deg) brightness(100%) contrast(97%);
  --colorize-stone-200: invert(92%) sepia(5%) saturate(326%) hue-rotate(8deg) brightness(101%) contrast(94%);
  --colorize-stone-300: invert(87%) sepia(5%) saturate(152%) hue-rotate(9deg) brightness(98%) contrast(95%);
  --colorize-stone-400: invert(71%) sepia(7%) saturate(141%) hue-rotate(12deg) brightness(94%) contrast(86%);
  --colorize-stone-500: invert(55%) sepia(14%) saturate(207%) hue-rotate(15deg) brightness(91%) contrast(86%);
  --colorize-stone-600: invert(43%) sepia(12%) saturate(221%) hue-rotate(18deg) brightness(96%) contrast(91%);
  --colorize-stone-700: invert(36%) sepia(12%) saturate(198%) hue-rotate(14deg) brightness(95%) contrast(87%);
  --colorize-stone-800: invert(25%) sepia(18%) saturate(146%) hue-rotate(7deg) brightness(92%) contrast(88%);
  --colorize-stone-900: invert(18%) sepia(16%) saturate(196%) hue-rotate(13deg) brightness(94%) contrast(91%);
  --colorize-stone-950: invert(11%) sepia(12%) saturate(168%) hue-rotate(10deg) brightness(91%) contrast(87%);

  --colorize-red-50: invert(93%) sepia(5%) saturate(442%) hue-rotate(320deg) brightness(105%) contrast(99%);
  --colorize-red-100: invert(89%) sepia(28%) saturate(448%) hue-rotate(319deg) brightness(103%) contrast(97%);
  --colorize-red-200: invert(83%) sepia(41%) saturate(365%) hue-rotate(321deg) brightness(105%) contrast(93%);
  --colorize-red-300: invert(72%) sepia(62%) saturate(731%) hue-rotate(321deg) brightness(102%) contrast(97%);
  --colorize-red-400: invert(57%) sepia(84%) saturate(1962%) hue-rotate(326deg) brightness(97%) contrast(98%);
  --colorize-red-500: invert(44%) sepia(91%) saturate(2841%) hue-rotate(332deg) brightness(98%) contrast(97%);
  --colorize-red-600: invert(33%) sepia(83%) saturate(2349%) hue-rotate(333deg) brightness(91%) contrast(95%);
  --colorize-red-700: invert(24%) sepia(65%) saturate(2370%) hue-rotate(334deg) brightness(98%) contrast(88%);
  --colorize-red-800: invert(20%) sepia(57%) saturate(2126%) hue-rotate(334deg) brightness(93%) contrast(86%);
  --colorize-red-900: invert(17%) sepia(41%) saturate(2048%) hue-rotate(332deg) brightness(91%) contrast(91%);
  --colorize-red-950: invert(12%) sepia(42%) saturate(2071%) hue-rotate(332deg) brightness(93%) contrast(95%);

  --colorize-orange-50: invert(96%) sepia(18%) saturate(346%) hue-rotate(9deg) brightness(101%) contrast(98%);
  --colorize-orange-100: invert(89%) sepia(24%) saturate(534%) hue-rotate(321deg) brightness(103%) contrast(101%);
  --colorize-orange-200: invert(78%) sepia(34%) saturate(461%) hue-rotate(339deg) brightness(103%) contrast(102%);
  --colorize-orange-300: invert(69%) sepia(54%) saturate(862%) hue-rotate(340deg) brightness(103%) contrast(102%);
  --colorize-orange-400: invert(60%) sepia(75%) saturate(1064%) hue-rotate(339deg) brightness(98%) contrast(103%);
  --colorize-orange-500: invert(53%) sepia(65%) saturate(2009%) hue-rotate(338deg) brightness(98%) contrast(104%);
  --colorize-orange-600: invert(42%) sepia(91%) saturate(1266%) hue-rotate(348deg) brightness(92%) contrast(97%);
  --colorize-orange-700: invert(30%) sepia(79%) saturate(1031%) hue-rotate(351deg) brightness(98%) contrast(95%);
  --colorize-orange-800: invert(24%) sepia(53%) saturate(1027%) hue-rotate(350deg) brightness(94%) contrast(97%);
  --colorize-orange-900: invert(19%) sepia(53%) saturate(878%) hue-rotate(348deg) brightness(95%) contrast(94%);
  --colorize-orange-950: invert(12%) sepia(56%) saturate(1093%) hue-rotate(348deg) brightness(88%) contrast(93%);

  --colorize-amber-50: invert(97%) sepia(43%) saturate(484%) hue-rotate(2deg) brightness(104%) contrast(100%);
  --colorize-amber-100: invert(88%) sepia(38%) saturate(789%) hue-rotate(326deg) brightness(104%) contrast(104%);
  --colorize-amber-200: invert(85%) sepia(36%) saturate(1577%) hue-rotate(7deg) brightness(104%) contrast(108%);
  --colorize-amber-300: invert(82%) sepia(47%) saturate(1456%) hue-rotate(2deg) brightness(106%) contrast(107%);
  --colorize-amber-400: invert(72%) sepia(68%) saturate(976%) hue-rotate(5deg) brightness(106%) contrast(104%);
  --colorize-amber-500: invert(65%) sepia(87%) saturate(784%) hue-rotate(2deg) brightness(104%) contrast(103%);
  --colorize-amber-600: invert(47%) sepia(92%) saturate(693%) hue-rotate(0deg) brightness(97%) contrast(97%);
  --colorize-amber-700: invert(30%) sepia(74%) saturate(895%) hue-rotate(13deg) brightness(98%) contrast(95%);
  --colorize-amber-800: invert(24%) sepia(51%) saturate(1085%) hue-rotate(5deg) brightness(93%) contrast(96%);
  --colorize-amber-900: invert(19%) sepia(41%) saturate(1063%) hue-rotate(5deg) brightness(94%) contrast(91%);
  --colorize-amber-950: invert(12%) sepia(39%) saturate(1063%) hue-rotate(3deg) brightness(91%) contrast(94%);

  --colorize-yellow-50: invert(96%) sepia(44%) saturate(431%) hue-rotate(8deg) brightness(103%) contrast(100%);
  --colorize-yellow-100: invert(90%) sepia(38%) saturate(976%) hue-rotate(9deg) brightness(106%) contrast(106%);
  --colorize-yellow-200: invert(86%) sepia(52%) saturate(1241%) hue-rotate(8deg) brightness(103%) contrast(104%);
  --colorize-yellow-300: invert(82%) sepia(48%) saturate(1841%) hue-rotate(2deg) brightness(104%) contrast(107%);
  --colorize-yellow-400: invert(77%) sepia(94%) saturate(1125%) hue-rotate(4deg) brightness(104%) contrast(104%);
  --colorize-yellow-500: invert(71%) sepia(91%) saturate(1056%) hue-rotate(4deg) brightness(102%) contrast(102%);
  --colorize-yellow-600: invert(49%) sepia(98%) saturate(765%) hue-rotate(2deg) brightness(98%) contrast(96%);
  --colorize-yellow-700: invert(30%) sepia(90%) saturate(695%) hue-rotate(5deg) brightness(97%) contrast(91%);
  --colorize-yellow-800: invert(25%) sepia(82%) saturate(494%) hue-rotate(9deg) brightness(91%) contrast(87%);
  --colorize-yellow-900: invert(20%) sepia(58%) saturate(641%) hue-rotate(12deg) brightness(95%) contrast(94%);
  --colorize-yellow-950: invert(13%) sepia(35%) saturate(1122%) hue-rotate(13deg) brightness(90%) contrast(95%);

  --colorize-lime-50: invert(94%) sepia(11%) saturate(757%) hue-rotate(54deg) brightness(102%) contrast(98%);
  --colorize-lime-100: invert(88%) sepia(9%) saturate(1266%) hue-rotate(53deg) brightness(103%) contrast(104%);
  --colorize-lime-200: invert(85%) sepia(7%) saturate(1486%) hue-rotate(60deg) brightness(102%) contrast(104%);
  --colorize-lime-300: invert(80%) sepia(30%) saturate(2006%) hue-rotate(65deg) brightness(103%) contrast(104%);
  --colorize-lime-400: invert(74%) sepia(55%) saturate(1067%) hue-rotate(54deg) brightness(99%) contrast(97%);
  --colorize-lime-500: invert(66%) sepia(84%) saturate(495%) hue-rotate(51deg) brightness(94%) contrast(99%);
  --colorize-lime-600: invert(46%) sepia(89%) saturate(414%) hue-rotate(51deg) brightness(95%) contrast(93%);
  --colorize-lime-700: invert(32%) sepia(64%) saturate(573%) hue-rotate(49deg) brightness(94%) contrast(93%);
  --colorize-lime-800: invert(25%) sepia(50%) saturate(666%) hue-rotate(46deg) brightness(94%) contrast(89%);
  --colorize-lime-900: invert(21%) sepia(36%) saturate(689%) hue-rotate(47deg) brightness(93%) contrast(90%);
  --colorize-lime-950: invert(13%) sepia(21%) saturate(1151%) hue-rotate(47deg) brightness(93%) contrast(92%);

  --colorize-green-50: invert(94%) sepia(14%) saturate(592%) hue-rotate(91deg) brightness(102%) contrast(97%);
  --colorize-green-100: invert(87%) sepia(10%) saturate(821%) hue-rotate(89deg) brightness(102%) contrast(101%);
  --colorize-green-200: invert(82%) sepia(15%) saturate(892%) hue-rotate(87deg) brightness(98%) contrast(94%);
  --colorize-green-300: invert(75%) sepia(20%) saturate(1254%) hue-rotate(91deg) brightness(99%) contrast(93%);
  --colorize-green-400: invert(65%) sepia(39%) saturate(814%) hue-rotate(94deg) brightness(96%) contrast(91%);
  --colorize-green-500: invert(56%) sepia(47%) saturate(727%) hue-rotate(94deg) brightness(91%) contrast(91%);
  --colorize-green-600: invert(42%) sepia(52%) saturate(706%) hue-rotate(93deg) brightness(93%) contrast(93%);
  --colorize-green-700: invert(31%) sepia(40%) saturate(774%) hue-rotate(91deg) brightness(93%) contrast(91%);
  --colorize-green-800: invert(24%) sepia(31%) saturate(923%) hue-rotate(91deg) brightness(93%) contrast(92%);
  --colorize-green-900: invert(20%) sepia(24%) saturate(900%) hue-rotate(91deg) brightness(95%) contrast(94%);
  --colorize-green-950: invert(13%) sepia(29%) saturate(896%) hue-rotate(91deg) brightness(92%) contrast(95%);

  --colorize-emerald-50: invert(93%) sepia(8%) saturate(642%) hue-rotate(111deg) brightness(103%) contrast(97%);
  --colorize-emerald-100: invert(86%) sepia(14%) saturate(681%) hue-rotate(112deg) brightness(101%) contrast(102%);
  --colorize-emerald-200: invert(80%) sepia(23%) saturate(827%) hue-rotate(113deg) brightness(99%) contrast(96%);
  --colorize-emerald-300: invert(72%) sepia(38%) saturate(806%) hue-rotate(112deg) brightness(97%) contrast(96%);
  --colorize-emerald-400: invert(61%) sepia(50%) saturate(797%) hue-rotate(118deg) brightness(95%) contrast(93%);
  --colorize-emerald-500: invert(52%) sepia(49%) saturate(845%) hue-rotate(121deg) brightness(95%) contrast(96%);
  --colorize-emerald-600: invert(40%) sepia(51%) saturate(792%) hue-rotate(125deg) brightness(93%) contrast(95%);
  --colorize-emerald-700: invert(31%) sepia(33%) saturate(853%) hue-rotate(126deg) brightness(91%) contrast(92%);
  --colorize-emerald-800: invert(24%) sepia(27%) saturate(853%) hue-rotate(127deg) brightness(94%) contrast(92%);
  --colorize-emerald-900: invert(20%) sepia(26%) saturate(742%) hue-rotate(128deg) brightness(94%) contrast(92%);
  --colorize-emerald-950: invert(13%) sepia(28%) saturate(696%) hue-rotate(128deg) brightness(95%) contrast(96%);

  --colorize-teal-50: invert(94%) sepia(15%) saturate(485%) hue-rotate(137deg) brightness(102%) contrast(98%);
  --colorize-teal-100: invert(87%) sepia(14%) saturate(552%) hue-rotate(136deg) brightness(101%) contrast(101%);
  --colorize-teal-200: invert(82%) sepia(13%) saturate(542%) hue-rotate(139deg) brightness(97%) contrast(96%);
  --colorize-teal-300: invert(75%) sepia(24%) saturate(529%) hue-rotate(138deg) brightness(97%) contrast(95%);
  --colorize-teal-400: invert(65%) sepia(30%) saturate(500%) hue-rotate(139deg) brightness(94%) contrast(92%);
  --colorize-teal-500: invert(56%) sepia(39%) saturate(417%) hue-rotate(137deg) brightness(92%) contrast(90%);
  --colorize-teal-600: invert(42%) sepia(35%) saturate(466%) hue-rotate(139deg) brightness(91%) contrast(92%);
  --colorize-teal-700: invert(33%) sepia(27%) saturate(499%) hue-rotate(139deg) brightness(93%) contrast(88%);
  --colorize-teal-800: invert(25%) sepia(22%) saturate(549%) hue-rotate(141deg) brightness(94%) contrast(90%);
  --colorize-teal-900: invert(21%) sepia(21%) saturate(510%) hue-rotate(141deg) brightness(93%) contrast(92%);
  --colorize-teal-950: invert(14%) sepia(26%) saturate(429%) hue-rotate(141deg) brightness(93%) contrast(91%);

  --colorize-cyan-50: invert(94%) sepia(8%) saturate(587%) hue-rotate(167deg) brightness(103%) contrast(97%);
  --colorize-cyan-100: invert(87%) sepia(14%) saturate(398%) hue-rotate(164deg) brightness(103%) contrast(101%);
  --colorize-cyan-200: invert(82%) sepia(13%) saturate(513%) hue-rotate(167deg) brightness(100%) contrast(96%);
  --colorize-cyan-300: invert(75%) sepia(28%) saturate(414%) hue-rotate(166deg) brightness(97%) contrast(96%);
  --colorize-cyan-400: invert(64%) sepia(33%) saturate(458%) hue-rotate(165deg) brightness(93%) contrast(93%);
  --colorize-cyan-500: invert(56%) sepia(34%) saturate(387%) hue-rotate(160deg) brightness(90%) contrast(90%);
  --colorize-cyan-600: invert(43%) sepia(41%) saturate(367%) hue-rotate(162deg) brightness(91%) contrast(90%);
  --colorize-cyan-700: invert(34%) sepia(29%) saturate(401%) hue-rotate(164deg) brightness(93%) contrast(88%);
  --colorize-cyan-800: invert(26%) sepia(26%) saturate(416%) hue-rotate(165deg) brightness(95%) contrast(89%);
  --colorize-cyan-900: invert(21%) sepia(22%) saturate(418%) hue-rotate(166deg) brightness(94%) contrast(90%);
  --colorize-cyan-950: invert(14%) sepia(24%) saturate(396%) hue-rotate(167deg) brightness(95%) contrast(95%);

  --colorize-sky-50: invert(93%) sepia(5%) saturate(507%) hue-rotate(181deg) brightness(101%) contrast(98%);
  --colorize-sky-100: invert(87%) sepia(9%) saturate(629%) hue-rotate(187deg) brightness(105%) contrast(101%);
  --colorize-sky-200: invert(81%) sepia(9%) saturate(744%) hue-rotate(184deg) brightness(101%) contrast(101%);
  --colorize-sky-300: invert(71%) sepia(17%) saturate(855%) hue-rotate(183deg) brightness(100%) contrast(98%);
  --colorize-sky-400: invert(60%) sepia(75%) saturate(491%) hue-rotate(178deg) brightness(96%) contrast(97%);
  --colorize-sky-500: invert(51%) sepia(49%) saturate(1103%) hue-rotate(179deg) brightness(96%) contrast(98%);
  --colorize-sky-600: invert(40%) sepia(59%) saturate(1159%) hue-rotate(185deg) brightness(95%) contrast(93%);
  --colorize-sky-700: invert(32%) sepia(54%) saturate(1122%) hue-rotate(186deg) brightness(94%) contrast(91%);
  --colorize-sky-800: invert(26%) sepia(37%) saturate(1096%) hue-rotate(183deg) brightness(94%) contrast(89%);
  --colorize-sky-900: invert(22%) sepia(40%) saturate(763%) hue-rotate(182deg) brightness(95%) contrast(91%);
  --colorize-sky-950: invert(14%) sepia(40%) saturate(744%) hue-rotate(182deg) brightness(94%) contrast(96%);

  --colorize-blue-50: invert(92%) sepia(16%) saturate(544%) hue-rotate(193deg) brightness(104%) contrast(100%);
  --colorize-blue-100: invert(84%) sepia(31%) saturate(343%) hue-rotate(194deg) brightness(100%) contrast(99%);
  --colorize-blue-200: invert(79%) sepia(20%) saturate(575%) hue-rotate(189deg) brightness(99%) contrast(99%);
  --colorize-blue-300: invert(70%) sepia(33%) saturate(551%) hue-rotate(189deg) brightness(99%) contrast(97%);
  --colorize-blue-400: invert(55%) sepia(78%) saturate(1522%) hue-rotate(193deg) brightness(100%) contrast(101%);
  --colorize-blue-500: invert(44%) sepia(98%) saturate(1844%) hue-rotate(200deg) brightness(97%) contrast(96%);
  --colorize-blue-600: invert(35%) sepia(72%) saturate(2271%) hue-rotate(203deg) brightness(96%) contrast(99%);
  --colorize-blue-700: invert(30%) sepia(61%) saturate(2285%) hue-rotate(205deg) brightness(92%) contrast(94%);
  --colorize-blue-800: invert(25%) sepia(53%) saturate(1967%) hue-rotate(204deg) brightness(93%) contrast(97%);
  --colorize-blue-900: invert(21%) sepia(39%) saturate(1649%) hue-rotate(206deg) brightness(95%) contrast(91%);
  --colorize-blue-950: invert(14%) sepia(54%) saturate(1114%) hue-rotate(207deg) brightness(89%) contrast(101%);

  --colorize-indigo-50: invert(91%) sepia(5%) saturate(1033%) hue-rotate(200deg) brightness(106%) contrast(96%);
  --colorize-indigo-100: invert(84%) sepia(18%) saturate(360%) hue-rotate(202deg) brightness(101%) contrast(99%);
  --colorize-indigo-200: invert(78%) sepia(28%) saturate(503%) hue-rotate(202deg) brightness(99%) contrast(95%);
  --colorize-indigo-300: invert(67%) sepia(21%) saturate(1184%) hue-rotate(209deg) brightness(102%) contrast(97%);
  --colorize-indigo-400: invert(50%) sepia(65%) saturate(1633%) hue-rotate(221deg) brightness(91%) contrast(95%);
  --colorize-indigo-500: invert(39%) sepia(93%) saturate(2449%) hue-rotate(230deg) brightness(90%) contrast(93%);
  --colorize-indigo-600: invert(30%) sepia(69%) saturate(2977%) hue-rotate(231deg) brightness(83%) contrast(97%);
  --colorize-indigo-700: invert(25%) sepia(68%) saturate(2714%) hue-rotate(232deg) brightness(82%) contrast(93%);
  --colorize-indigo-800: invert(21%) sepia(71%) saturate(2080%) hue-rotate(231deg) brightness(85%) contrast(94%);
  --colorize-indigo-900: invert(18%) sepia(51%) saturate(1520%) hue-rotate(229deg) brightness(88%) contrast(95%);
  --colorize-indigo-950: invert(12%) sepia(37%) saturate(1573%) hue-rotate(226deg) brightness(87%) contrast(95%);

  --colorize-violet-50: invert(92%) sepia(3%) saturate(829%) hue-rotate(217deg) brightness(105%) contrast(96%);
  --colorize-violet-100: invert(86%) sepia(19%) saturate(318%) hue-rotate(220deg) brightness(100%) contrast(101%);
  --colorize-violet-200: invert(80%) sepia(29%) saturate(333%) hue-rotate(219deg) brightness(101%) contrast(99%);
  --colorize-violet-300: invert(70%) sepia(27%) saturate(636%) hue-rotate(221deg) brightness(103%) contrast(101%);
  --colorize-violet-400: invert(58%) sepia(32%) saturate(2057%) hue-rotate(246deg) brightness(98%) contrast(97%);
  --colorize-violet-500: invert(48%) sepia(41%) saturate(6307%) hue-rotate(256deg) brightness(94%) contrast(98%);
  --colorize-violet-600: invert(37%) sepia(57%) saturate(4382%) hue-rotate(259deg) brightness(86%) contrast(98%);
  --colorize-violet-700: invert(30%) sepia(55%) saturate(4004%) hue-rotate(262deg) brightness(83%) contrast(91%);
  --colorize-violet-800: invert(25%) sepia(54%) saturate(3497%) hue-rotate(263deg) brightness(82%) contrast(95%);
  --colorize-violet-900: invert(21%) sepia(43%) saturate(2660%) hue-rotate(259deg) brightness(87%) contrast(95%);
  --colorize-violet-950: invert(14%) sepia(44%) saturate(1922%) hue-rotate(257deg) brightness(80%) contrast(96%);

  --colorize-purple-50: invert(93%) sepia(7%) saturate(371%) hue-rotate(237deg) brightness(102%) contrast(97%);
  --colorize-purple-100: invert(86%) sepia(13%) saturate(418%) hue-rotate(239deg) brightness(101%) contrast(101%);
  --colorize-purple-200: invert(80%) sepia(17%) saturate(503%) hue-rotate(242deg) brightness(102%) contrast(101%);
  --colorize-purple-300: invert(71%) sepia(23%) saturate(834%) hue-rotate(245deg) brightness(102%) contrast(101%);
  --colorize-purple-400: invert(59%) sepia(75%) saturate(3429%) hue-rotate(271deg) brightness(103%) contrast(102%);
  --colorize-purple-500: invert(50%) sepia(51%) saturate(6753%) hue-rotate(272deg) brightness(97%) contrast(94%);
  --colorize-purple-600: invert(41%) sepia(86%) saturate(5026%) hue-rotate(269deg) brightness(82%) contrast(92%);
  --colorize-purple-700: invert(31%) sepia(60%) saturate(4717%) hue-rotate(270deg) brightness(84%) contrast(91%);
  --colorize-purple-800: invert(26%) sepia(47%) saturate(3659%) hue-rotate(268deg) brightness(85%) contrast(92%);
  --colorize-purple-900: invert(21%) sepia(46%) saturate(2370%) hue-rotate(265deg) brightness(86%) contrast(91%);
  --colorize-purple-950: invert(15%) sepia(60%) saturate(1697%) hue-rotate(262deg) brightness(84%) contrast(96%);

  --colorize-fuchsia-50: invert(93%) sepia(6%) saturate(437%) hue-rotate(266deg) brightness(101%) contrast(100%);
  --colorize-fuchsia-100: invert(86%) sepia(13%) saturate(502%) hue-rotate(265deg) brightness(103%) contrast(99%);
  --colorize-fuchsia-200: invert(80%) sepia(17%) saturate(544%) hue-rotate(269deg) brightness(103%) contrast(101%);
  --colorize-fuchsia-300: invert(71%) sepia(43%) saturate(1094%) hue-rotate(286deg) brightness(105%) contrast(102%);
  --colorize-fuchsia-400: invert(61%) sepia(64%) saturate(6953%) hue-rotate(296deg) brightness(106%) contrast(101%);
  --colorize-fuchsia-500: invert(53%) sepia(95%) saturate(6903%) hue-rotate(295deg) brightness(99%) contrast(97%);
  --colorize-fuchsia-600: invert(43%) sepia(95%) saturate(4702%) hue-rotate(294deg) brightness(95%) contrast(97%);
  --colorize-fuchsia-700: invert(32%) sepia(95%) saturate(3370%) hue-rotate(292deg) brightness(95%) contrast(97%);
  --colorize-fuchsia-800: invert(25%) sepia(79%) saturate(2899%) hue-rotate(291deg) brightness(93%) contrast(93%);
  --colorize-fuchsia-900: invert(21%) sepia(60%) saturate(2313%) hue-rotate(291deg) brightness(93%) contrast(94%);
  --colorize-fuchsia-950: invert(13%) sepia(57%) saturate(1861%) hue-rotate(292deg) brightness(93%) contrast(100%);

  --colorize-pink-50: invert(92%) sepia(8%) saturate(594%) hue-rotate(300deg) brightness(103%) contrast(100%);
  --colorize-pink-100: invert(85%) sepia(18%) saturate(499%) hue-rotate(300deg) brightness(103%) contrast(101%);
  --colorize-pink-200: invert(79%) sepia(25%) saturate(433%) hue-rotate(299deg) brightness(101%) contrast(99%);
  --colorize-pink-300: invert(70%) sepia(37%) saturate(878%) hue-rotate(303deg) brightness(103%) contrast(101%);
  --colorize-pink-400: invert(59%) sepia(82%) saturate(2139%) hue-rotate(313deg) brightness(100%) contrast(97%);
  --colorize-pink-500: invert(51%) sepia(87%) saturate(2771%) hue-rotate(319deg) brightness(97%) contrast(98%);
  --colorize-pink-600: invert(42%) sepia(85%) saturate(2585%) hue-rotate(323deg) brightness(98%) contrast(98%);
  --colorize-pink-700: invert(33%) sepia(86%) saturate(2158%) hue-rotate(324deg) brightness(96%) contrast(97%);
  --colorize-pink-800: invert(25%) sepia(71%) saturate(2160%) hue-rotate(327deg) brightness(93%) contrast(95%);
  --colorize-pink-900: invert(21%) sepia(56%) saturate(1952%) hue-rotate(326deg) brightness(94%) contrast(94%);
  --colorize-pink-950: invert(13%) sepia(57%) saturate(1627%) hue-rotate(326deg) brightness(92%) contrast(93%);

  --colorize-rose-50: invert(92%) sepia(10%) saturate(503%) hue-rotate(313deg) brightness(103%) contrast(100%);
  --colorize-rose-100: invert(85%) sepia(23%) saturate(523%) hue-rotate(314deg) brightness(102%) contrast(101%);
  --colorize-rose-200: invert(78%) sepia(29%) saturate(585%) hue-rotate(310deg) brightness(101%) contrast(98%);
  --colorize-rose-300: invert(68%) sepia(60%) saturate(735%) hue-rotate(315deg) brightness(102%) contrast(102%);
  --colorize-rose-400: invert(54%) sepia(86%) saturate(1954%) hue-rotate(322deg) brightness(99%) contrast(97%);
  --colorize-rose-500: invert(45%) sepia(100%) saturate(2728%) hue-rotate(327deg) brightness(98%) contrast(97%);
  --colorize-rose-600: invert(34%) sepia(85%) saturate(2603%) hue-rotate(328deg) brightness(93%) contrast(96%);
  --colorize-rose-700: invert(27%) sepia(66%) saturate(2548%) hue-rotate(327deg) brightness(96%) contrast(91%);
  --colorize-rose-800: invert(22%) sepia(54%) saturate(2239%) hue-rotate(326deg) brightness(94%) contrast(89%);
  --colorize-rose-900: invert(19%) sepia(50%) saturate(2053%) hue-rotate(325deg) brightness(93%) contrast(93%);
  --colorize-rose-950: invert(12%) sepia(50%) saturate(2059%) hue-rotate(325deg) brightness(93%) contrast(95%);
}
